<li class="search-results__result">
  <%= form.hidden_field :content_id %>
  <%= form.hidden_field :link %>
  <%= form.hidden_field :position %>
  <div class="search-results__details">
    <h2 class="search-results__title">
      <%= govuk_link_to result.title, result.link %>
    </h2>
    <p class="search-results__url"><%= result.link %></p>
    <p class="search-results__description"><%= result.description %></p>
    <% if result.parts? %>
      <p class="search-results__parts">
        <strong>Parts:</strong>
        <%= result.parts.join(", ") %>
      </p>
    <% end %>
    <% if show_metadata? %>
      <div class="search-results__metadata">
        <span class="search-results__metadata-item search-results__metadata-item--content-type">
          <%= result.document_type %>
        </span>
        <span class="search-results__metadata-item">
          Public timestamp: <%= result.public_timestamp.strftime("%e %b %Y") %> (<%= time_ago_in_words result.public_timestamp %> ago)
        </span>
      </div>
    <% end %>
  </div>
  <fieldset class="search-results__ranking">
    <legend class="search-results__ranking-legend">
      How relevant is this result?
    </legend>
    <% ResultRating.rating_options.each do |value, label| %>
      <label class="search-results__ranking-option search-results__ranking-option--<%= value %>">
        <%= form.label :rating, label, value: %>
        <%= form.radio_button :rating, value %>
      </label>
    <% end %>
  </fieldset>
</li>
