<li class="search-results__result">
  <div class="search-results__details">
    <h2 class="search-results__title">
      <%= govuk_link_to result.title, result.link %>
    </h2>
    <p class="search-results__url"><%= result.link %></p>
    <p class="search-results__description"><%= result.description %></p>
    <% if show_metadata? %>
      <div class="search-results__metadata">
        <span class="search-results__metadata-item search-results__metadata-item--content-type">
          <%= result.document_type %>
        </span>
        <span class="search-results__metadata-item">
          Updated <%= result.public_timestamp.strftime("%e %b %Y") %> (<%= time_ago_in_words result.public_timestamp %> ago)
        </span>
      </div>
    <% end %>
  </div>
  <fieldset class="search-results__ranking">
    <legend class="search-results__ranking-legend">
      How relevant is this result?
    </legend>
    <label class="search-results__ranking-option search-results__ranking-option--perfect">
      <%= label result.content_id, "ranking", "Perfect", value: "perfect" %>
      <%= radio_button result.content_id, "ranking", "perfect" %>
    </label>
    <label class="search-results__ranking-option search-results__ranking-option--good">
      <%= label result.content_id, "ranking", "Good", value: "good" %>
      <%= radio_button result.content_id, "ranking", "good" %>
    </label>
    <label class="search-results__ranking-option search-results__ranking-option--ok">
      <%= label result.content_id, "ranking", "Okay", value: "ok" %>
      <%= radio_button result.content_id, "ranking", "ok" %>
    </label>
    <label class="search-results__ranking-option search-results__ranking-option--bad">
      <%= label result.content_id, "ranking", "Bad", value: "bad" %>
      <%= radio_button result.content_id, "ranking", "bad" %>
    </label>
  </fieldset>
</li>
