<div class="query-container govuk-grid-row">
  <%= form_with url: search_path, method: :get do |form| %>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/search", {
        inline_label: false,
        label_size: "m",
        label_text: "Search GOV.UK using the new search engine",
        value: @search.query,
        name: "query",
      } %>
      <% options_selected = @search.search_options&.count || 0 %>
      <% options_selected_text = " (#{options_selected} selected)" if options_selected.positive? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Advanced options#{options_selected_text}",
      } do %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "search_options[]",
          heading: "Search options",
          visually_hide_heading: true,
          hint_text: "Select any of these options to change how search results are displayed. You will need to search again for these changes to be visible.",
          small: true,
          items: [
            {
              label: "Show top 10 results (instead of 5)",
              value: "show_extra_results",
              checked: @search.search_options&.include?("show_extra_results")
            },
            {
              label: "Show detailed information about results (document types, dates)",
              value: "show_debug_metadata",
              checked: @search.search_options&.include?("show_debug_metadata")
            }
          ]
        } %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @search.show_results? %>
  <div class="results-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s">
          Showing top <%= pluralize(@search.displayed_count, "result") %>
          (out of <%= number_with_delimiter(@search.total_count) %>)
        </h2>
      </div>
      <div class="results-container__rate govuk-grid-column-one-half">
        <%= link_to "Learn how to rate results", how_to_rate_path, class: "govuk-link" %>
      </div>
    </div>
    <%= form_with model: @feedback do |form| %>
      <%= form.hidden_field :search_query %>
      <div class="govuk-grid-row search-results">
        <div class="govuk-grid-column-full">
          <ul class="search-results__list">
            <% @search.results.each do |result| %>
              <%= render partial: "result", locals: { result:, form:, show_debug_metadata: @search.search_options&.include?("show_debug_metadata") } %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row search-feedback">
        <div class="govuk-grid-column-two-thirds search-feedback__fields">
          <%= render "govuk_publishing_components/components/details", {
            title: "Is the best possible result not included?",
          } do %>
            <div class="govuk-form-group">
              <%= form.label :suggested_url, "URL for the best possible result", class: "govuk-label" %>
              <div class="govuk-hint">Enter the full URL of a page on GOV.UK (or an external link) that you think is a better result for your query than any of the results shown.</div>
              <%= form.text_field :suggested_url, class: "govuk-input" %>
            </div>
          <% end %>

          <%= render "govuk_publishing_components/components/details", {
            title: "Do you have any other comments about these results?",
          } do %>
            <%= form.label :comments, "Your comments about these results", class: "govuk-label" %>
            <div class="govuk-hint">For example, ...</div>
            <%= form.text_area :comments, class: "govuk-textarea" %>
          <% end %>
        </div>
        <div class="govuk-grid-column-one-third search-feedback__submit">
          <%= render "govuk_publishing_components/components/button", {
            text: "Submit feedback",
            type: "submit",
          } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
