<div class="query-container govuk-grid-row">
  <%= form_with url: search_path, method: :get do |form| %>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/search", {
        inline_label: false,
        label_size: "m",
        label_text: "Search GOV.UK using the new search engine",
        value: @search.query,
        name: "query",
      } %>
    </div>
  <% end %>
</div>

<% if @feedback.errors.any? %>
  <%= render "govuk_publishing_components/components/error_summary", {
    id: "error-summary",
    title: "There was a problem with your feedback",
    description: "You need to correct these errors before you can submit your feedback.",
    items: @feedback.errors.details.map { |field, error|
      {
        text: @feedback.errors.full_messages_for(field).first,
        href: "#feedback_#{field}",
      }
    }
  } %>
<% end %>

<% if @search.show_results? %>
  <div class="results-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s">
          Showing top <%= pluralize(@search.displayed_count, "result") %>
          (out of <%= number_with_delimiter(@search.total_count) %>)
        </h2>
      </div>
      <div class="results-container__rate govuk-grid-column-one-half">
        <%= link_to "Learn how to rate results", how_to_rate_path, class: "govuk-link" %>
      </div>
    </div>
    <%= form_with model: @feedback do |form| %>
      <%= form.hidden_field :search_query %>
      <%= form.hidden_field :discovery_engine_attribution_token %>
      <div class="govuk-grid-row search-results">
        <div class="govuk-grid-column-full">
          <ul class="search-results__list">
            <%= form.fields_for :result_ratings do |ff| %>
              <%= render partial: "searches/result", locals: { form: ff, result: @search.results[ff.object.position] } %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row search-feedback">
        <div class="govuk-grid-column-two-thirds search-feedback__fields">
          <%= render "govuk_publishing_components/components/details", {
            title: "Is the best possible result not included?",
            open: @feedback.errors.include?(:suggested_url),
          } do %>
            <div class="govuk-form-group <%= 'govuk-form-group--error' if @feedback.errors.include?(:suggested_url) %>">
              <%= form.label :suggested_url, "URL for the best possible result", class: "govuk-label" %>
              <div class="govuk-hint">Enter the full URL of a page on GOV.UK (or an external link) that you think is a better result for your query than any of the results shown.</div>
              <% if @feedback.errors.include?(:suggested_url) %>
                <p id="national-insurance-number-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> <%= @feedback.errors.full_messages_for(:suggested_url).join(", ") %>
                </p>
              <% end %>
              <%= form.text_field :suggested_url, class: "govuk-input" %>
            </div>
          <% end %>

          <%= render "govuk_publishing_components/components/details", {
            title: "Do you have any other comments about these results?",
          } do %>
            <%= form.label :comments, "Your comments about these results", class: "govuk-label" %>
            <div class="govuk-hint">For example, ...</div>
            <%= form.text_area :comments, class: "govuk-textarea" %>
          <% end %>
        </div>
        <div class="govuk-grid-column-one-third search-feedback__submit">
          <%= render "govuk_publishing_components/components/button", {
            text: "Submit feedback",
            type: "submit",
          } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
