<div class="query-container govuk-grid-row">
  <%= form_with url: search_path, method: :get do |form| %>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/search", {
        inline_label: false,
        label_size: "m",
        label_text: "Search GOV.UK using the new search engine",
        value: @search.query,
        name: "query",
      } %>
      <% options_selected = @search.search_options&.count || 0 %>
      <% options_selected_text = " (#{options_selected} selected)" if options_selected.positive? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Advanced options#{options_selected_text}",
      } do %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "search_options[]",
          heading: "Search options",
          visually_hide_heading: true,
          hint_text: "Select any of these options to change how search results are displayed. You will need to search again for these changes to be visible.",
          small: true,
          items: [
            {
              label: "Show top 10 results (instead of 5)",
              value: "show_extra_results",
              checked: @search.search_options&.include?("show_extra_results")
            },
            {
              label: "Show detailed information about results (document types, dates)",
              value: "show_debug_metadata",
              checked: @search.search_options&.include?("show_debug_metadata")
            }
          ]
        } %>
      <% end %>
    </div>
  <% end %>
</div>

<% if flash[:success] %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/success_alert", {
      message: flash[:success]
    } %>
    </div>
  </div>
<% else %>
  <div class="results-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s">
          Showing top <%= pluralize(@search.displayed_count, "result") %>
          (out of <%= number_with_delimiter(@search.total_count) %>)
        </h2>
      </div>
      <div class="results-container__rate govuk-grid-column-one-half">
        <a href="#" class="govuk-link">Learn how to rate results</a>
      </div>
    </div>
    <%= form_with url: feedback_path do %>
      <div class="govuk-grid-row search-results">
        <div class="govuk-grid-column-full">
          <ul class="search-results__list">
            <% @search.results.each do |result| %>
              <%= render partial: "result", locals: { result:, show_debug_metadata: @search.search_options&.include?("show_debug_metadata") } %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row search-feedback">
        <div class="govuk-grid-column-two-thirds search-feedback__fields">
          <%# TODO: extra feedback fields %>
          ...
        </div>
        <div class="govuk-grid-column-one-third search-feedback__submit">
          <%= render "govuk_publishing_components/components/button", {
            text: "Submit feedback",
            type: "submit",
          } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
