<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "integration",
  product_name: "Search Evaluation",
  browser_title: yield(:title).presence || "Rate future search results",
} do %>
  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: "integration",
    product_name: "Rate future search results",
  } %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <%= yield %>
    </main>
  </div>
  <%= render "govuk_publishing_components/components/layout_footer" %>
  <%= javascript_importmap_tags %>
<% end %>
